{% extends 'home.html' %}
{% block content %}
    <thead>

    </thead>
    <tbody>
    <div class="row">
        <div class="col-md-4">
            <h2>Crear estudiante</h2>
            <form id="formulario_estudiante" action="/estudiante/registrar-estudiante/" method="POST">{% csrf_token %}
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-text">Nombre</div>
                        <input type="text" class="form-control" name="txtNombre" id="txtNombre" minlength="3" maxlength="100" autofocus>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-text">Apellido</div>
                        <input type="text" class="form-control" name="txtApellido" id="txtApellido" minlength="3" maxlength="100">
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-text">Identificacion</div>
                        <input type="number" class="form-control" name="numIdentificacion" id="numIdentificacion">
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-text">Correo</div>
                        <input type="email" class="form-control" name="txtEmail" id="txtEmail"minlength="3" maxlength="200">

                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-text">Programa academmico</div>
                        <input type="text" class="form-control" name="txtPrograma" id="txtPrograma" minlength="3" maxlength="100">
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Crear nuevo estudiante</button>
            </form>
        </div>
        <div class="col-md-8">
            <h2>Listado estudiantes</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Identificacion</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Programa académico</th>
                        <th scope="col">Opcines</th>
                    </tr>
                    </thead>
                    {% for estu in estudiante %}
                        <tr>
                            <td>{{ estu.nombre }}</td>
                            <td>{{ estu.apellido }}</td>
                            <td>{{ estu.identificacion }}</td>
                            <td>{{ estu.correo }}</td>
                            <td>{{ estu.p_academico }}</td>
                            <td>
{#                                <a href="eliminar/estudiante/{{ estu.pk }}" class="btn btn-success">agregar</a>#}
                                <a href="eliminar/estudiante/{{ estu.pk }}" class="btn btn-danger">eliminar</a>
                            </td>
                        </tr>

                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    </tbody>
    <script>
    const $formulario_estudiante = document.getElementById('formulario_estudiante');
    const $numIdentificacion = document.getElementById('numIdentificacion');

    (function (){
         $formulario_estudiante.addEventListener('submit', function (e){
         let identificacion = parseInt($numIdentificacion.value());
         console.log(identificacion);
         {% for estu in estudiante %}
             console.log({{ estu.identificacion }})
             if (identificacion === {{ estu.identificacion }}){
                 alert('El documento',{{ estu.identificacion }},' ya se encuentra registrado')
                 e.preventDefault();
             }
         {% endfor %}
    });
    }());
    </script>
{% endblock %}